body{
    background-color: #eee;
    line-height: 28px
}

#nav{
    background-color: #2d2674;
}


#container{
    padding: 0;
    margin-top: 10px;
    border: none;
}

li {
    display: inline;
    padding: 12px;
}

#header{
    background-color: white;
    color: #2d2674;
    font-weight: bold;
    margin-bottom: 0;
}

#mainbar{
    background-color: white;
    font-family: 'Arial','Helvetica';
    padding-left: 0 ;
    padding-right:0;
    margin-left: 0;

}

#leftside{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px; 
  
  }

#mainbar2{
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
}
}

#aboutme{
    color: #333333;
    line-height: 42px;
    padding-bottom: 30px;
    font-family: DroidSerif;
    font-size: 36px;
    font-weight: normal;
}


#rightside{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#icons{
    margin-bottom: 35px;
    padding-bottom: 35px;
}

  


.nav-link{
    color: ivory;
}